body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}

h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

main h1 {
    font-size: 60px;
    text-align: center;
    background-color: #851944;
    font-family: "Open Sans Condensed", sans-serif;
    color: #FFF;
    padding: 25px;
    margin: 0;
    border-bottom: 10px solid black;
}

p {
    text-align: justify;
    margin: 20px 0;
}

blockquote {
    background-color: #D9E5E3;
    padding: 16px;
    border: 10px solid #C2CCCA;
    width: 250px;
    margin: 0;
    box-sizing: border-box;
    border: 10px solid #C2CCCA;
}

aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    text-align: center;
}
footer {
    background-color: #25CEB2;
    color: #F2FFFC;
    padding: 20px;
    text-align: center;
}
nav a {
    color: #F2FFFC;
}

main a {
    color: #770E18;
}

aside {
    background-color: #3C1D3D;
    color: #F2FFFC;

}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

ul {
    list-style-type: none;
    text-align: center;
}

main div {
    width: 720px;
    margin: auto;
}

dth: 0;
}
