body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}

.titulo-Pagina {
    font-size: 60px;
    text-align: center;
    background-color: #851944;
    font-family: "Open Sans Condensed", sans-serif;
    color: #FFF;
    padding: 25px;
    margin: 0;
    border-bottom: 10px solid black;
    text-transform: uppercase;
}

.centralizar-Texto p {
    text-align: justify;
    margin: 20px 0;
}

.fiat{
    background-color: #D9E5E3;
    padding: 16px;
    border: 10px solid #C2CCCA;
    width: 250px;
    box-sizing: border-box;
    border: 10px solid #C2CCCA;
    margin: 20px 40px;
    float: right;
}

.petrobras {
    background-color: #D9E5E3;
    padding: 16px;
    border: 10px solid #C2CCCA;
    width: 250px;
    box-sizing: border-box;
    border: 10px solid #C2CCCA;
    margin: 20px 40px;
    float: left;
}

h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    font-size: 30px;
    clear: both;

}

aside h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
    padding: 20px;
    font-family: "Open Sans Condensed", sans-serif;
    text-decoration: none;

}

.rodape {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

.leia-Mais {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

nav a {
    color: #F2FFFC;
}

main a {
    color: cadetblue;
    text-decoration: none;
}

.navegacao-site {
    background-color: #3C1D3D;
    color: #F2FFFC;
    float: right;                         //8 minutos e 36 segundos de video//

}
ul {
    list-style-type: none;      
    text-align: center;
}

.icones-sociais li {
    display: inline-block;
}

.icones-sociais a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    }
.github {
    background-image: url(github.png);
}
.twitter {
    background-image: url(twitter.png);
}
.linkedin {
    background-image: url(linkedin.png);
}

ul a {
    text-decoration: none;
    font-family: "Open Sans Condensed", sans-serif;
    text-align: center;
    list-style-type: none;
    color: cadetblue;
    display: inline-block;
}

main div {
    width: 720px;
    margin: auto;
    padding: 30px 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

article {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
