
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    <div>
        <form action="/Produto/Adiciona" method="post">

            <label for="nome">Nome:</label>
            <input id="nome" name="produto.Nome" />
            @Html.ValidationMessage("produto.Nome")

            <label for="preco">Preco:</label>
            <input id="preco" name="produto.Preco" />

            <label for="quantidade"> Quantidade:</label>
            <input id="quantidade" name="produto.Quantidade" />

            <label for="descricao"> Descricao:</label>
            <input id="descricao" name="Produto.Descricao" />

            <label for="categoria">Categoria:</label>
            <select id="categoria" name="produto.CategoriaId">
                @foreach (var categoria in ViewBag.Categorias)
                {
                    <option value="@categoria.Id">@categoria.Nome</option>
                }
            </select>

            <input type="submit" value="Cadastrar" />

        </form>
    </div>
</body>
</html>
